body {
	font-family: sans-serif;
	background-image: url("https://upload.wikimedia.org/wikipedia/en/5/59/Pac-man.png");
}

p {
	font-size: 12px;
	text-decoration: line-through;
}

h1 {
	margin: 20px;
	padding: 40px;
	border: 5px dashed red;
	background-color: gray;
	color: #008000;
	text-transform: uppercase;
}

h2 {
	text-decoration: underline;
}

#intro {
	border: 1px solid black;
}

.spotlight {
	background-color: yellow;
}

h2, p {
	color: darkgreen;
}

a:link {
	color: blue;
}

a:active {
	color: red;
}

a:visited {
	color: purple;
}

a:hover {
	text-transform: uppercase;
	color: green;
}

table, ul, ol {
	color: white;
}